.axisLabel {
  font-size: 1.75em;
}

.bars:hover {
  fill: white;
}

div.tlp {
  position: absolute;
  text-align: center;
  width: 1500px;
  height: 30px;
  padding: 2px;
  font-size: 12px;
  font-family: sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 10px;
  pointer-events: none;
}
